<% if @movies.size > 0 %>
<div class="content">
    <div class="movie-listing">
        <% for movie in @movies %>
            <%= link_to show_movie_path(movie.title.parameterize, movie.imdb), :class => 'movie-listing-item' do %>
            <span class="listing-point"><%= '%.1f' % movie.score %> <em>of 10</em></span> <%= movie.title %>
            <% end %>
        <% end %>
    </div>
</div>
<%= will_paginate @movies, :page_links => false%>
<% else %>
<div class="alert alert-info">
<h4>Holly Molly!</h4>
<p>It doesn't seem to be any listing available at the moment. Get back to the <%= link_to 'start page', root_path %>.</p>
</div>
<% end %>