<% if @movie %>
<% content_for :og_tags do %>
<meta property="og:title" content="<%= @movie.title %>">
<meta property="og:description" content="<%= @movie.plot %>">
<meta property="og:url" content="<%= request.original_url %>">
<% for actor in @movie.actors %>
<meta property="og:video:actor" content="<%= actor.name %>">
<% end %>
<meta property="og:image" content="<%= @movie.poster %>">
<meta property="og:site_name" content="filmcheck">
<meta property="og:type" content="video.movie">
<% end %>
<% content_for :title, "Here's a better rating for '#{@movie.title} (#{@movie.year})' found on" %>

<h2><%= @movie.title %> <small><%= @movie.year %></small></h2>
<div class="content moviecard">
    <div class="movie-stats">
        <p>
        <span class="points"><%= '%.1f' % @movie.score %><small> / 10</small></span> Based upon
        <span class="voters"><%= number_with_delimiter(@movie.voters, :delimiter => ',') %></span> ratings worldwide. <%= @movie.probability %>% safe.
        </p>
    </div>
    <div class="moviecard-plot">
        <p><%= @movie.plot %></p>
    </div>
    <div class="moviecard-actions">
        <ul class="list-inline">
            <span class="btn btn-default disabled btn-sm">Cast</span>
            <% for actor in @movie.actors do %>
                <li>
                <%= link_to "#{actor.name}", appears_in_path(actor.name.parameterize, actor.id) %>
                </li>
            <% end %>
        </ul>
        <ul class="list-inline">
            <span class="btn btn-default disabled btn-sm">Genres</span>
            <% for genre in @movie.genres do %>
                <li>
                <%= link_to "#{genre.genre}", movies_by_genre_path(genre.genre.parameterize, genre.id) %>
                </li>
            <% end %>
        </ul>
        <% if @suggestions and @suggestions.size > 1 %>
            <ul class="list-inline">
                <span class="btn btn-default disabled btn-sm">Similar</span>
                <% for suggestion in @suggestions %>
                    <li>
                    <%= link_to "#{suggestion.title} (#{suggestion.year})", show_movie_path(suggestion.title.parameterize, suggestion.imdb) %>
                    </li>
                <% end %>
            </ul>
            <p>
        <% end %>
        <ul class="list-inline">
            <span class="btn btn-default disabled">Whats next</span>
            <li><a href="http://www.imdb.com/title/<%= @movie.imdb %>" target="_blank" class="btn btn-warning">IMDb</a></li>
            <li><a href="http://www.youtube.com/results?search_query=<%= @movie.title %> trailer" target="_blank" class="btn btn-info">Trailers</a></li>
            <li><a href="http://www.amazon.com/gp/search?ie=UTF8&camp=1789&creative=9325&index=dvd&keywords=<%= @movie.title %>&linkCode=ur2&tag=filmcheckse-20&linkId=H25Z3OZXRK2TPB5X" target="_blank" class="btn btn-success">Own it</a></li>
        </ul>
        <ul class="list-inline">
            <span class="btn btn-default disabled btn-sm">Spread the goodness</span>
            <li>
                <%= like_button("826169394083048", :href => request.original_url, :action => 'recommend', :layout => :button_count) %>
            </li>
        </ul>
    </div>
</div>
<% else %>
<div class="alert alert-warning">
    <h3>Oh my...</h3>
    <p>Something went completely wrong! <%= link_to 'Click here', root_path, :class => 'alert-link' %> to get back to start.</p>
</div>
<% end %>
