<!DOCTYPE html>
<html lang="en">
<head>
<title><%= yield(:title) %> filmcheck</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="metsson">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<!-- Apple -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-startup-image" href="/apple-startup.png">
<!-- Touch icons -->
<link rel="apple-touch-icon" href="/touch-icon-iphone.png">
<link rel="apple-touch-icon" sizes="76x76" href="/touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="120x120" href="/touch-icon-iphone-retina.png">
<link rel="apple-touch-icon" sizes="152x152" href="/touch-icon-ipad-retina.png">
<!-- Touch icons -->
<%= yield(:og_tags) %>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag    "application", media: "all" %>
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container main-container">
    <div class="push"></div>
    <%= like_button("826169394083048", :href => root_url, :layout => :button_count) %>
    <!-- header -->
    <div class="header">
        <h1>filmcheck <small>movie ratings as they should be!</small></h1>
        <nav>
            <ul>
                <li><%= link_to 'Top movies', root_path %></li>
                <li><%= link_to 'Appearances', all_actors_path %></li>
                <li><%= link_to 'Genres', all_genres_path %></li>
            </ul>
        </nav>
        <!-- search form -->
        <div class="search form-group">
            <form method="get" action="/search/" id="search-form" onsubmit="return false;">
            <input type="search" class="form-control" name="keyword" placeholder="Search for movie ratings" />
            </form>
        </div>
        <!-- search form -->
    </div>
    <!-- header -->
    <!-- main content -->
    <div class="row main">
        <div class="col-sm-8">
            <%= yield %>
        </div>
        <!-- sidebar -->
        <aside>
            <div class="col-sm-4 pull-down">
                <div class="alert alert-warning">
                    <h4>The shitlist!</h4>
                    <p>We've made life a bit easier for you.
                    Here's a list of movies you wouldn't want to
                    waste your time on.</p>
                    <p>
                        <%= link_to 'Look it up', shitlist_path, :class => 'btn btn-success' %>
                    </p>
                </div>
                <ul class="list-inline sidebar-list">
                    <li><%= link_to 'Appearances', all_actors_path %></li>
                    <li><%= link_to 'Genres', all_genres_path %></li>
                    <li><%= link_to 'How it works', how_it_works_path %></li>
                    <li><a href="http://metsson.se/">Made by metsson</a></li>
                </ul>
            </div>
        </aside>
        <!-- sidebar -->
    </div>
    <!-- main content -->
</div>
<%= javascript_include_tag "application" %>
</body>
</html>