<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> filmcheck</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>filmcheck
    <small>gathering better ratings for thousands of movies</small>
</h1>
<%= yield %>
</body>
</html>